# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
db.sqlite3
media/
static/
staticfiles/
.static_storage/
.media/
*.pyc

# Environments
.env
.venv

# PyCharm
.idea/

# Code quality tools
.pre-commit-cache/
